.meu_formulario{
    flex-direction: column;
    display: flex;
    gap: 18px;
}

.input_estilo{
    padding: auto;
    border: 1px solid #4e4e4e;
    padding: 5px 5px;
    border-radius: 5px;
}

.input_estilo:hover{
    background-color: rgb(221, 220, 220);
}

.select_estilo{
    cursor: pointer;
}

.caixa_formulario{
    margin: 50px
}

.botao{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.botao:hover{
    background-color: #218838;
}